<template>
    <div class="home-view">
        <h1>
            January 23
        </h1>

        <p>Latitude, Longitude</p>
        <p>{{ geoData.latitude }} {{ geoData.longitude }}</p>

        <GmapMap
            :center="{ lat: geoData.latitude, lng: geoData.longitude }"
            :zoom="8"
            map-type-id="terrain"
            style="width: 500px; height: 300px"
            @click="updateGeoData"
        />

        {{ weatherData }}
    </div>
</template>

<script>
// import { mapActions, mapGetters } from 'vuex'
import WeatherService from '@/services/weather-service'

export default {
    name: 'January23',
    data() {
        return {
            geoData: {
                latitude: 52.2,
                longitude: 4.5,
            },
            weatherData: {},
        }
    },
    computed: {
        urlWeather() {
            return {
                isValid:
                    [this.latitude, this.longitude].filter(e => !!e).length > 0,
                url: this.buildWeatherUrl(this.latitude, this.longitude),
            }
        },
    },
    watch: {
        geoData: {
            deep: true,
            handler: 'fetch',
        },
    },
    async mounted() {
        await this.fetch()
    },
    methods: {
        // ...mapActions('images', [
        //     'getImageDetails',
        //     'getNextImageDetails',
        //     'getPrevImageDetails',
        // ]),
        async fetch() {
            console.log(123123123)
            if (this.isGeoValid(this.geoData)) {
                this.weatherData = await WeatherService.getWeather(
                    this.buildWeatherUrl(this.geoData)
                )
            } else {
                console.log(`
                    Check pls latitude and longitude
                    ${this.geoData}
                `)
            }
        },
        async updateGeoData(event) {
            this.geoData.latitude = Number(event?.latLng?.lat().toFixed(2))
            this.geoData.longitude = Number(event?.latLng?.lng().toFixed(2))
        },

        // utils -> move after pure
        buildWeatherUrl({ latitude, longitude }) {
            const options = '&hourly=temperature_2m,apparent_temperature,rain'
            return `/forecast?latitude=${latitude}&longitude=${longitude}${options}`
        },
        isGeoValid({ latitude, longitude }) {
            // const isValidReq = [this.geoData.latitude, this.geoData.longitude].filter(e => !!e).length > 0
            return !!latitude && !!longitude
        },
    },
}
</script>
